<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" novalidate>
    <!-- <ion-item>
      <ion-input clearInput formControlName="email" type="email" placeholder="Email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-item>
      <ion-input clearInput formControlName="password" type="password" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Your password must be more than 6 characters long</p>
    </ion-item>
    <ion-grid>

      <ion-row>
        <ion-col style="text-align: center">
          <ion-button center-all expand="block" shape="round" type="submit" [disabled]="!loginForm.valid">Login<ion-icon slot="end" name="chevron-forward-circle"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col class="ion-text-uppercase">
              <ion-button clear color="light" size="small" (click)="createAccount()">
                Don't have an account? Sign Up
              </ion-button>            
          </ion-col>

          <ion-col class="ion-text-uppercase">
            <ion-button clear color="light" size="small" (click)="resetPwd()">
                I forgot my password
              </ion-button>          
          </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Login</ion-label>
        <ion-button fill="outline" shape = "round" slot="end" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
      </ion-item>
    
      <ion-card-content>
        <ion-item>
          <ion-input clearInput formControlName="email" type="email" placeholder="Email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
          <p>Please enter a valid email.</p>
        </ion-item>
        <ion-item>
          <ion-input clearInput formControlName="password" type="password" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
          <p>Your password must be more than 6 characters long</p>
        </ion-item>

        <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-button fill=“clear” size="small" expand="full" (click)="createAccount()">
                    Don't have an account? Sign Up
                  </ion-button>            
              </ion-col>
    
              <ion-col>
                <ion-button fill=“clear” size="small" expand="full" (click)="resetPwd()">
                    I forgot my password
                  </ion-button>          
              </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>


</form>
</ion-content>