<ion-toolbar>
  <ion-title>Setup Donation</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="logout()">
      <ion-icon slot="icon-only" name="power-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

  
<ion-content padding class="ion-main">      
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item-divider>
      <ion-label>
        Donation Details
      </ion-label>
    </ion-item-divider>
  
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Type</ion-label>
              <ion-input clearInput autocapitalize = "off" formControlName="inputType" autofocus="true" #typeInput placeholder="Food, Medical, etc;"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>  
              <ion-label position="floating">Quantity</ion-label>
              <ion-input type="number" value="00" formControlName="inputQty"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input clearInput formControlName="inputDescr"></ion-input>
    </ion-item>


<ion-item-divider>
  <ion-label>
    Contact Info
  </ion-label>
</ion-item-divider>


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input clearInput formControlName="inputMobile" placeholder="073 123 4567"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>  
            <ion-label position="floating">Email Address</ion-label>
            <ion-input clearInput formControlName="inputEmail" placeholder="joe@email.com"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


<ion-item-divider>
  <ion-label>
    Additional Info
  </ion-label>
</ion-item-divider>


<ion-item>
  <ion-textarea formControlName="inputAddInfo" placeholder="Enter any additional information here..."></ion-textarea>
</ion-item>

<ion-item>
  <ion-checkbox color="danger" checked formControlName="inputLocation" slot="start" (ionChange)="checkLocation()"></ion-checkbox>
  <ion-label class="check-location">Use my current location</ion-label>
</ion-item>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="success" shape = "round" expand="block" type="submit" [disabled]="!todo.valid">
        <ion-icon slot="end" name="exit-outline"></ion-icon>Submit</ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="height: 5px"></ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="danger" shape = "round" expand="block" (click)="clearForm()">
        <ion-icon slot="end" name="refresh-outline"></ion-icon>Cancel</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</form>
</ion-content> 